* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
// .hero {
//     background-color: aqua;
// }
// .about {
//     background-color: rgb(221, 255, 127);
// }
// .buttons {
//     background-color: rgb(252, 179, 95);
// }
// .abc {
//     background-color: rgb(102, 116, 240);
// }